<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<!--FORM VAI AQUI-->
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="firstName" placeholder="Insira o Primeiro nome" />
          <div *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)"
          class="alert alert-danger">
            Nome
            <div *ngIf="form.get('firstName')?.errors?.['required']" class="d-inline">
              é obrigatório
            </div>
          <div *ngIf="form.get('firstName')?.errors?.['minlength']" class="d-inline">
              deve ter pelo menos 3 caracteres.
            </div>
            <div *ngIf="form.get('firstName')?.errors?.['maxlength']" class="d-inline">
              deve ter no máximo 16 caracteres
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Sobrenome</label>
          <input type="text" class="form-control" formControlName="lastName" placeholder="Insira o Último nome" />
          <div *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)"
          class="alert alert-danger">
          Sobrenome
            <div *ngIf="form.get('lastName')?.errors?.['required']" class="d-inline">
              é obrigatório
            </div>
          <div *ngIf="form.get('lastName')?.errors?.['minlength']" class="d-inline">
              deve ter pelo menos 3 caracteres.
            </div>
            <div *ngIf="form.get('lastName')?.errors?.['maxlength']" class="d-inline">
              deve ter no máximo 16 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" placeholder="Insira um E-mail válido" />
        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
        class="alert alert-danger">
          E-mail
          <div *ngIf="form.get('email')?.errors?.['required']" class="d-inline">
            é obrigatório.
          </div>
          <div *ngIf="form.get('email')?.errors?.['email']" class="d-inline">
            é inválido.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" formControlName="userName" placeholder="Insira o nome de Usuário" />
        <div *ngIf="form.get('userName')?.invalid && (form.get('userName')?.dirty || form.get('userName')?.touched)"
        class="alert alert-danger">
          Usuario
          <div *ngIf="form.get('userName')?.errors?.['required']" class="d-inline">
            é obrigatório.
          </div>
          <div *ngIf="form.get('userName')?.errors?.['minlength']" class="d-inline">
            deve ter ao menos 4 caracteres.
          </div>
          <div *ngIf="form.get('userName')?.errors?.['maxlength']" class="d-inline">
            deve ter no máximo 64 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" formControlName="password" placeholder="Digite uma Senha" />
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
          class="alert alert-danger">
            Senha
            <div *ngIf="form.get('password')?.errors?.['required']" class="d-inline">
              é obrigatório.
            </div>
            <div *ngIf="form.get('password')?.errors?.['minlength']" class="d-inline">
              deve ter ao menos 8 caracteres.
            </div>
            <div *ngIf="form.get('password')?.errors?.['maxlength']" class="d-inline">
              deve ter no máximo 32 caracteres.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" formControlName="confirm_password" placeholder="Confirme a Senha" />
          <div *ngIf="form.get('confirm_password')?.invalid && (form.get('confirm_password')?.dirty || form.get('confirm_password')?.touched)"
          class="alert alert-danger">
            <div *ngIf="form.get('confirm_password')?.errors?.['required']" class="d-inline">
              Confirme a senha
            </div>
          </div>
          <div *ngIf="!form.get('confirm_password')?.invalid && form.errors?.['confirmPassword']" class="alert alert-danger">Senhas não combinam</div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="agree">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid" (click)="createUser()">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="../login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
