<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<!--FORM VAI AQUI-->
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="nome" placeholder="Insira o Primeiro nome" />
          <div *ngIf="getField('nome')?.invalid && (getField('nome')?.dirty || getField('nome')?.touched)"
          class="alert alert-danger">
            Nome
            <div *ngIf="getField('nome')?.errors?.['required']" class="d-inline">
              é obrigatório
            </div>
          <div *ngIf="getField('nome')?.errors?.['minlength']" class="d-inline">
              deve ter pelo menos 3 caracteres.
            </div>
            <div *ngIf="getField('nome')?.errors?.['maxlength']" class="d-inline">
              deve ter no máximo 32 caracteres
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" formControlName="sobrenome" placeholder="Insira o Último nome" />
          <div *ngIf="getField('sobrenome')?.invalid && (getField('sobrenome')?.dirty || getField('sobrenome')?.touched)"
          class="alert alert-danger">
            Nome
            <div *ngIf="getField('sobrenome')?.errors?.['required']" class="d-inline">
              é obrigatório
            </div>
          <div *ngIf="getField('sobrenome')?.errors?.['minlength']" class="d-inline">
              deve ter pelo menos 3 caracteres.
            </div>
            <div *ngIf="getField('sobrenome')?.errors?.['maxlength']" class="d-inline">
              deve ter no máximo 32 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" placeholder="Insira um E-mail válido" />
        <div *ngIf="getField('email')?.invalid && (getField('email')?.dirty || getField('email')?.touched)"
        class="alert alert-danger">
          E-mail
          <div *ngIf="getField('email')?.errors?.['required']" class="d-inline">
            é obrigatório.
          </div>
          <div *ngIf="getField('email')?.errors?.['email']" class="d-inline">
            é inválido.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" formControlName="usuario" placeholder="Insira o nome de Usuário" />
        <div *ngIf="getField('usuario')?.invalid && (getField('usuario')?.dirty || getField('usuario')?.touched)"
        class="alert alert-danger">
          Usuario
          <div *ngIf="getField('usuario')?.errors?.['required']" class="d-inline">
            é obrigatório.
          </div>
          <div *ngIf="getField('usuario')?.errors?.['minlength']" class="d-inline">
            deve ter ao menos 4 caracteres.
          </div>
          <div *ngIf="getField('usuario')?.errors?.['maxlength']" class="d-inline">
            deve ter no máximo 8 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" formControlName="senha" placeholder="Digite uma Senha" />
          <div *ngIf="getField('senha')?.invalid && (getField('senha')?.dirty || getField('senha')?.touched)"
          class="alert alert-danger">
            Senha
            <div *ngIf="getField('senha')?.errors?.['required']" class="d-inline">
              é obrigatório.
            </div>
            <div *ngIf="getField('senha')?.errors?.['minlength']" class="d-inline">
              deve ter ao menos 8 caracteres.
            </div>
            <div *ngIf="getField('senha')?.errors?.['maxlength']" class="d-inline">
              deve ter no máximo 16 caracteres.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" formControlName="confirma_senha" placeholder="Confirme a Senha" />
          <div *ngIf="getField('confirma_senha')?.invalid && (getField('confirma_senha')?.dirty || getField('confirma_senha')?.touched)"
          class="alert alert-danger">
            <div *ngIf="getField('confirma_senha')?.errors?.['required']" class="d-inline">
              Confirme a senha
            </div>
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="concorda">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="../login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
