<app-titulo titulo="Perfil" icone="fa-solid fa-user"></app-titulo>
	<div class="row p-3">
		<div class="col-lg-3 pt-1">
			<div class="card mb-3">
				<div class="card-header"></div>
				<div class="d-flex align-self-center pt-3">
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
					<a (click)="fileUpload.click()" class="cursor-pointer">
            <ng-container *ngIf="user.imageUrl != null;else elseBlock">
              <img
              src="{{user.imageUrl}}"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </ng-container>
						<ng-template #elseBlock>
            <i class="fa-solid fa-user"></i>
            </ng-template>
					</a>
				</div>
				<div class="card-body">
					<div class="h4 text-center mb-3">@{{user.userName}}</div>
					<div class="h7 text-bold pb-1"><b>Nome:</b> {{user.firstName}} {{user.lastName}}</div>
					<div class="h7">
            {{user.description}}
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-6 text-center border-right">
								<div class="h5">1342</div>
								<div class="h6 text-muted">Eventos Ministrados</div>
							</div>
							<div class="col-6 text-center">
								<div class="h5">1342</div>
								<div class="h6 text-muted">Eventos Participados</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="card-footer"></div>
			</div>
		</div>
		<div class="col-lg-9">
      <tabset>
        <tab heading="Perfil" id="tab1">
          <div class="form-group col-12 mt-2">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <app-perfil-detalhe (formChangeValue)="changeValue($event)"></app-perfil-detalhe>

        </tab>
        <tab heading="Palestrante" [disabled]="!isPalestrante">
          <div class="form-group col-12 mt-2">
            <h3 class="border-bottom">Palestrante</h3>
          </div>
          <ng-container *ngIf="isPalestrante">
            <app-palestrante-detalhe></app-palestrante-detalhe>
          </ng-container>
        </tab>
        <tab heading="Redes Sociais" [disabled]="!isPalestrante">
          <div class="form-group col-12 mt-2">
            <h3 class="border-bottom">Redes sociais</h3>
          </div>
          <ng-container *ngIf="isPalestrante">
            <app-redessociais></app-redessociais>
          </ng-container>
        </tab>
      </tabset>

		</div>
	</div>

